<div class="container">
    <div class="logo">
        <img src="/necaxa/logo-Necaxa.webp" alt="">
        <div class="download">
            <div class="google">
                <img src="/necaxa/google.png" alt="">
            </div>
            <div class="apple">
                <img src="/necaxa/apple.png" alt="">
            </div>
        </div>
    </div>
    <div class="p">
        <ul>
            <li><a href="#">Obten ayuda</a></li>
            <li><a href="#">Escuela Necaxa</a></li>
            <li><a href="#">Proveedores</a></li>
            <li><a href="#">Cuentas por pagar</a></li>
            <li><a href="#">Compra de boletos</a></li>
        </ul>
    </div>
</div>
<hr>
<footer>
    <div class="iconos">
        <a href=""><img src="/necaxa/x.png" alt=""></a>
        <a href=""><img src="/necaxa/ins.png" alt=""></a>
        <a href=""><img src="/necaxa/fb.png" alt=""></a>
    </div>
    <div class="politica">
        <p>Politica de privacidad | Terminos | Tarifas</p>
        <p>Se aplican los terminos de privacidad y los terminos de servicio &copy;2025 Club Necaxa </p>
    </div>
</footer>