<div class="container">
    <div class="lista">
        <ul>
            <li><a href="#"><i class="fas fa-home"></i> </a>Inicio</li>
            <li><a href="#"><i class="fas fa-file-alt"></i> </a>Solicitud</li>
            <li><a href="#"><i class="fas fa-money-bill-wave"></i> </a>Pagos</li>
            <li><a href="#"><i class="fas fa-question-circle"></i> </a>Ayuda</li>
        </ul>
    </div>
    <div class="config">
        <a href="#"><i class="fas fa-cog"></i> Configuración</a>
    </div>
</div>